html.auth
  &, input, textarea, button, select
    background #607D8B
    color white
    
  a, legend
    color white
    
  body
    width 24rem
    position relative
    
  .logo
    transform translateY(-5px)
    
  .spinp
    text-align right
    margin-top -2em
    margin-bottom 2em
    height 0
    padding 0
    overflow visible
    
    .spinner
      width 1em
      height 1em
      margin 0 
      padding 0 